<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>Casey Hawkins: Availability</title>    
  </head>
  <body>
    <h1>
      Availability
    </h1>
    <p>
      Post Availability
      <form>
        <label for="Type">Type:</label><br>
        <input type="text" id="Type" name="Type"><br>

        <input type="checkbox" id="Sunday_AM" name="Sunday_AM" value="Sunday_AM">
        <label for="Sunday_AM"> Sunday_AM</label><br>

        <input type="checkbox" id="Sunday_PM" name="Sunday_PM" value="Sunday_AM">
        <label for="Sunday_PM"> Sunday_PM</label><br>

        <input type="checkbox" id="Monday_AM" name="Monday_AM" value="Monday_AM">
        <label for="Monday_AM"> Monday_AM</label><br>

        <input type="checkbox" id="Monday_PM" name="Monday_PM" value="Monday_PM">
        <label for="Monday_PM"> Monday_PM</label><br>

        <input type="checkbox" id="Tuesday_AM" name="Tuesday_AM" value="Tuesday_AM">
        <label for="Tuesday_AM"> Tuesday_AM</label><br>

        <input type="checkbox" id="Tuesday_PM" name="Tuesday_PM" value="Tuesday_PM">
        <label for="Tuesday_PM"> Tuesday_PM</label><br>

        <input type="checkbox" id="Wednesday_AM" name="Wednesday_AM" value="Wednesday_AM">
        <label for="Wednesday_AM"> Wednesday_AM</label><br>

        <input type="checkbox" id="Wednesday_PM" name="Wednesday_PM" value="Wednesday_PM">
        <label for="Wednesday_PM"> Wednesday_PM</label><br>

        <input type="checkbox" id="Thursday_AM" name="Thursday_AM" value="Thursday_AM">
        <label for="Thursday_AM"> Thursday_AM</label><br>

        <input type="checkbox" id="Thursday_AM" name="Thursday_AM" value="Thursday_AM">
        <label for="Thursday_AM"> Thursday_PM</label><br>

        <input type="checkbox" id="Friday_AM" name="Friday_AM" value="Friday_AM">
        <label for="Friday_AM"> Friday_AM</label><br>

        <input type="checkbox" id="Friday_PM" name="Friday_PM" value="Friday_PM">
        <label for="Friday_PM"> Friday_PM</label><br>

        <input type="checkbox" id="Saturday_AM" name="Saturday_AM" value="Saturday_AM">
        <label for="Saturday_AM"> Saturday_AM</label><br>

        <input type="checkbox" id="Saturday_AM" name="Saturday_AM" value="Saturday_AM">
        <label for="Saturday_AM"> Saturday_PM</label><br>

        <button type="submit" class="btn btn-success " id="submitform">Submit</button>
      </form>
    </p>

  </body>
  <script>

    $(document).ready(function () {
        $("#submitform").click(function (e) {
            var MyForm = JSON.stringify($("#myform").serializeJSON());
            console.log(MyForm);
            $.ajax(
                {
                    url: "<http://127.0.0.1:8080>",
                    type: "POST",
                    data: MyForm,
                });
            e.preventDefault(); //STOP default action
        });
    });
    </script>
</html>