{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
  <body>
    <h1>Restaurant</h1>
    <h3 align="center">{{ data['fName'] }} {{ data['lName'] }}</h3>
    <br />
    <br />
    <h4>Current Request Offs</h4>
    {% for x in data['requestOffs'] %}
      <tr>{{ x['Date'] }}</tr>
      <tr>{{ x['Shift'] }}</tr>
      <button type="button" class="close" onClick="deleteRequestOff({{ data['id'] }}, {{ x['id'] }})">
        <span aria-hidden="true">&times;</span>
      </button>
      <br />
    {% endfor %}
    <h4>Edit Request Offs</h4>
    <form action = "http://127.0.0.1:8080/profiles/requestoffs/{{ data['id'] }}" method = "post">
      <label for="Schedule" name="Date/Shift" id="Date/Shift"></label>
      {% for x in schedules %}
      <div class="form group"> 
        <input type="radio" name="Date/Shift" id="{{x['id']}}" value="{{x['id']}}" />
        <label for="{{x['id']}}">{{ x['Date'] }} {{ x['Shift'] }} {{ x['id'] }}</label><br />
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br />
    <a href="http://127.0.0.1:8080/profiles/{{ data['id'] }}">Go back</a>

{% endblock %}