{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
  <body>
    <h1>Restaurant</h1>
    <h3 align="center">Schedule</h3>
    {% for x in data %}
      <ul class="list-group list-group-item" id="schedule">
        <tr>{{ x['Date'] }}</tr>
        <tr>{{ x['Shift'] }}</tr>
        <a href="http://127.0.0.1:8080/schedules/{{ x['id'] }}">Edit</a>
        <button type="button" class="close" onClick="deleteSchedule({{ x['id'] }})">
          <span aria-hidden="true">&times;</span>
        </button>
        <br />
        Working:
        {% for profile in x['Working'] %}
          <br />
          <tr>{{ profile['fName'] }}</tr>
          <tr>{{ profile['lName'] }}</tr>
          <tr>{{ profile['id'] }}</tr>

        {% endfor %}

        
        <br />
      </ul>
      {% endfor %}
    </table>
    <form action = "http://127.0.0.1:8080/schedules" method = "post">
      <h3 align="center">Enter New Schedule:</h3>
      <div class="form group">
        <label for="Date">Date</label>
        <input type="date" class="form-control" id="Date" name="Date" placeholder="Enter Date">
      </div>
      <div class="form group">
        <label for="Shift">Shift</label>
        <select class="form-control" name="Shift" id="Shift">
          <option value="AM">AM</option>
          <option value="PM">PM</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
{% endblock %}