{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
  <body>
    <h1>Restaurant</h1>
    <h3 align="center">Schedule</h3>
    {% for x in data %}
      <ul class="list-group list-group-item" id="schedule">
        <tr>{{ x['Date'] }}</tr>
        <tr>{{ x['Shift'] }}</tr>
        <a href="http://127.0.0.1:8080/schedules/{{ x['id'] }}">Edit</a>
        <button type="button" class="close" onClick="deleteSchedule({{ x['id'] }})">
          <span aria-hidden="true">&times;</span>
        </button>
        <br />
        {% if x['Working'] %}
        Working:
        {% for profile in x['Working'] %}
          <br />
          <tr>{{ profile['Name'] }}</tr>
        {% endfor %}
        <br />
        {% endif %}
      </ul>
      {% endfor %}
    </table>
    <br />
    <h3>Create full schedule for this month</h3> 
    <h3>(everyday with both AM and PM shifts)</h3>
    <form action = "http://127.0.0.1:8080/schedules" method = "post">
      <button type="button" class="submit" onClick="generateWeeklySchedule()">
        Submit
      </button>
    </form>
    <br />
    <form action = "http://127.0.0.1:8080/schedules" method = "post">
      <h3 align="center">Enter New Schedule:</h3>
      <div class="form group">
        <label for="Date">Date</label>
        <input type="date" class="form-control" id="Date" name="Date" placeholder="Enter Date">
      </div>
      <div class="form group">
        <label for="Shift">Shift</label>
        <select class="form-control" name="Shift" id="Shift">
          <option value="AM">AM</option>
          <option value="PM">PM</option>
        </select>
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br /> 
    
    <button type="submit">
      <a href="/static/myfile.csv" download="schedule.csv">Download Schedule</a>
    </button>
    <br />
  </body>
{% endblock %}