{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
  <body>
    <h1>Restaurant</h1>
    <h3 align="center">{{ data['fName'] }} {{ data['lName'] }}</h3>
    <br />

    <h4>Schedule</h4>
    {% for x in data['Schedule'] %}
      <tr>{{ x['Date'] }}</tr>
      <tr>{{ x['Shift'] }}</tr>
      <br />
    {% endfor %}
    <br />
    <h4>Availability</h4>
    {% for x in data['Availability'] %}
      <tr>Sunday: {{ x['Sunday'] }}</tr>
      <br />
      <tr>Monday: {{ x['Monday'] }}</tr>
      <br />
      <tr>Tuesday: {{ x['Tuesday'] }}</tr>
      <br />
      <tr>Wednesday: {{ x['Wednesday'] }}</tr>
      <br />
      <tr>Thursday: {{ x['Thursday'] }}</tr>
      <br />
      <tr>Friday: {{ x['Friday'] }}</tr>
      <br />
      <tr>Saturday: {{ x['Saturday'] }}</tr>
      <br />
    {% endfor %}
    <br />
    <h4>Request Offs</h4>
    <br />
    <h4>Schedule Changes</h4>
    <br />
    <a href="http://127.0.0.1:8080/profiles/edit/{{ data['id'] }}">Edit</a>

{% endblock %}