{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
  <body>
    <h1>Restaurant</h1>
    <h3 align="center">{{ data['fName'] }} {{ data['lName'] }}</h3>
    <br />

    <h4>Schedule</h4>
    {{ data['Schedule'] }}

    <h4>Availability</h4>
    <button type="submit" class="btn btn-primary">Edit</button>
    <br />
    <h4>Request Offs</h4>
    <button type="submit" class="btn btn-primary">Edit</button>
    <br />
    <h4>Schedule Changes</h4>
    <button type="submit" class="btn btn-primary">Edit</button>
    <br />
{% endblock %}