{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
  <body>
    <h1>Restaurant</h1>
    {% for x in data %}
    <h3 align="center">{{ x['fName'] }} {{ x['lName'] }}</h3>

    <h3 align="center">Availability</h3>
    <button type="submit" class="btn btn-primary">Edit</button>

    <h3 align="center">Request Offs</h3>
    <button type="submit" class="btn btn-primary">Edit</button>

    <h3 align="center">Schedule Changes</h3>
    <button type="submit" class="btn btn-primary">Edit</button>
    
    {% endfor %}
  {% endblock %}